{$DOMAIN} {
    log {
        level INFO
        output file /data/access.log {
            roll_size 10MB
            roll_keep 10
        }
    }

    reverse_proxy vaultwarden:80

    header {
        -Server
        -X-Powered-By
    }
}
